<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kovalenych"
          android:versionCode="34"
          android:versionName="3.4">
    <supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

    <instrumentation
            android:targetPackage="com.kovalenych"
            android:name="android.test.InstrumentationTestRunner"/>
    <!-- For doing JUnit test, Instrumentation End (remove later) -->

    <application android:label="Unaerobic" android:icon="@drawable/icon"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:name=".UnaeroApplication">
        <uses-library
                android:name="android.test.runner"/>
        <activity android:name=".MenuActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="portrait"

                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".tables.CyclesActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".tables.EditVoiceActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:screenOrientation="portrait"
                />
        <activity android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
                  android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
                />
        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider"/>
        <activity
                android:launchMode="singleTask"
                android:name=".tables.ClockActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.Black.NoTitleBar"
                android:configChanges="orientation"/>
        <service android:enabled="true"
                 android:name=".tables.ClockService"
                 android:process=":clock_process"/>
    </application>
</manifest> 
